.main-title {

    font-family: "Fira Code";
    font-size: 40px;
    text-shadow: 2px 2px 0px #000;
    color: #F25A70;

}

.main-title.-second {

    color: #FFF;
    text-shadow: none;
    text-align: center;

}