.title {

    font-family: "Playfair Display";
    font-size: 40px;
    text-shadow: 2px 2px 0px #000;
    color: #FBE4D8;

}

.title.-second {

    color: #6d50b7;
    text-shadow: none;
    text-align: center;

}