.title {

    font-family: "Playfair Display";
    font-size: 40px;
    text-shadow: 2px 2px 0px #000;
    color: #bba8ff;

}

.title.-second {

    color: #bba8ff;
    text-shadow: none;
    text-align: center;

}